---
import type { GetStaticPaths } from 'astro';

import { db } from '../../db/db';
import Layout from "../../layouts/Layout.astro";
import { getMediaURL } from '../../utils/media';

import HeroContent from '../../features/HousePage/components/HeroContent.vue'
import StatsGrid from '../../features/HousePage/components/StatsGrid.vue';
import AccordionItem from '../../features/HousePage/components/AccordionItem.vue';
import DetailsGrid from '../../features/HousePage/components/DetailsGrid.vue';
import FloorDisplay from '../../features/HousePage/components/FloorDisplay.vue';


export const getStaticPaths = (async () => {
const houseModels = await db.query.houseModels.findMany({
    with: {
        category: true,
        details: true, 
        media: {
            with: { media: true },
            orderBy: (modelMedia, { asc }) => [asc(modelMedia.sortOrder)],
        },
        floors: {
            with: { media: true },
            orderBy: (floor, { asc }) => [asc(floor.sortOrder)],
        },
    },
})
return houseModels.map((model) => ({
    params: { slug: model.slug },
    props: {
        model,
    },
}));
}) satisfies GetStaticPaths;

const { model } = Astro.props;
const heroImage = model.media.find((m) => m.isHero)?.media;

---

<Layout title={model.title + " – BoHolz Haus"}>
<section class="hero subgrid">
    <div class="hero-image full-width">
        {heroImage && <img src={getMediaURL(heroImage.path)} alt={heroImage.alt} width={heroImage.width} height={heroImage.height} />}
    </div>
<HeroContent model={model} />
<StatsGrid model={model} />
<div class="features-list">
   <AccordionItem class="details-grid" label='Details' client:visible>
    <DetailsGrid model={model}/>
   </AccordionItem>
</div>

{model.floors.length > 0 && (
    model.floors.map((floor) => (
        <FloorDisplay floor={floor} />
)))}

</section>
</Layout>


<style>
.hero {
    display: grid;

    .hero-image {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .features-list {
        display: flex;
        flex-direction: column;
        padding-block: var(--spacing-5);
        width: 100%;
    }
}
</style>