---
import Layout from "@/layouts/Layout.astro";
import { getModelBySlug } from '@/data/loaders';

import HeroContent from '@/features/HousePage/components/HeroContent.vue'
import StatsGrid from '@/features/HousePage/components/StatsGrid.vue';
import AccordionItem from '@/features/HousePage/components/AccordionItem.vue';
import DetailsGrid from '@/features/HousePage/components/DetailsGrid.vue';
import FloorDisplay from '@/features/HousePage/components/FloorDisplay.vue';

const { slug } = Astro.params;
const model = await getModelBySlug(slug!);

if (!model) return Astro.redirect('/hauser');

const heroImage = model.media.find((m) => m.isHero)?.media;

---

<Layout title={model.title + " – BoHolz Haus"}>
<section class="hero subgrid">
    <div class="hero-image full-width">
        {heroImage && <img src={heroImage.path} alt={heroImage.alt} width={heroImage.width} height={heroImage.height} />}
    </div>
<HeroContent model={model} />
<StatsGrid model={model} />
<div class="features-list">
   <AccordionItem class="details-grid" label='Details' client:visible>
    <DetailsGrid model={model}/>
   </AccordionItem>
</div>

{model.floors.length > 0 && (
    model.floors.map((floor) => (
        <FloorDisplay floor={floor} />
)))}

</section>
</Layout>


<style>
.hero {
    display: grid;

    .hero-image {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .features-list {
        display: flex;
        flex-direction: column;
        padding-block: var(--spacing-5);
        width: 100%;
    }
}
</style>