---
import type { SectionContent } from "./section.types";

type Props = SectionContent;

const { heading1, heading2, highlight, subheading } = Astro.props;
---

<section class="section">
  <div class="heading-group">
    <div class="headings">
      {
        heading2 ? (
          <>
            <h2>{heading1}</h2>
            <h2>
              {heading2}
              {highlight && <span class="highlight"> {highlight}</span>}
            </h2>
          </>
        ) : (
          <h2>
            {heading1}
            {highlight && <span class="highlight"> {highlight}</span>}
          </h2>
        )
      }
    </div>
    {subheading && <p>{subheading}</p>}
  </div>
  <slot />
</section>

<style>
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: var(--spacing-6);
    gap: var(--spacing-5);
  }

  .heading-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-3);
    text-align: center;
    width: 100%;
    max-width: 90ch;
    margin-inline: auto;
  }

  .headings {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headings h2 {
    font-weight: var(--font-weight-medium);
  }

  .highlight {
    font-family: var(--font-secondary);
    font-style: italic;
    font-weight: var(--font-weight-medium);
  }

  .heading-group p {
    color: var(--clr-content-secondary);
    max-width: 56rem;
    font-weight: var(--font-weight-regular);
  }
</style>

